<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Shop Item - Start Bootstrap Template</title>

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

<!-- Custom CSS -->
<link href="../static/css/shop-item.css"
	th:href="@{css/shop-item.css}" rel="stylesheet" media="screen" />
<link href="../static/css/register.css" th:href="@{css/register.css}"
	rel="stylesheet" media="screen" />

</head>

<body>


</body>

</html>
