<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
			
				<div th:fragment="editFormTrack" >
					<div class="col-md-3">
								<!-- 				<form onclick="retrieveGuests()"> -->
								<h2 class="form-signin-heading">Search track</h2>
								<label for="from_place" class="sr-only">from_place</label> 
								<input
									id="from_place" class="form-control" placeholder="from_place" /> 
								<label
									for="to_place" class="sr-only">to_place</label> 
								<input
									id="to_place" class="form-control" placeholder="to_place" /> 
								<label
									for="starting_date" class="sr-only">starting_date</label> 
								<input
									id="starting_date" type="date" class="form-control"
									placeholder="starting_date" /> 
								<label for="starting_time"
									class="sr-only">starting_time</label> 
								<input id="starting_time"
									type="time" class="form-control" placeholder="starting_time" /> 
								<label
									for="price" class="sr-only">price</label>
								<input id="price"
									class="form-control" placeholder="price" />
								<div class="checkbox">
									<label> <!-- <input type="checkbox" value="remember-me"> Remember me -->
									</label>
								</div>
								<button onclick="retrieveGuests()"
									class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
								<!-- 				</form> -->
					</div>
				</div>


</body>

</html>
